whisperx==3.8.6
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
ctranslate2==4.8.1
faster-whisper==1.2.1
huggingface_hub==0.36.2
onnxruntime==1.28.0
numpy==2.4.4
pandas==3.0.5
matplotlib==3.11.1
pyinstaller==6.21.0